@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* 
   * Main colors used for backgrounds and text.
   * "foreground" is used for text and icons in these states.
   *
   * You can consult this link to understand impact of each variable.
   * ==> https://www.figma.com/file/Zu4BtlBGkkDfCULfrPmYsk/Alembic-Marketplace-CSS?type=design&t=G8sE3G9G6kDVz4UK-6
   */

  --background: 249.60 45.45% 10.78%;
  --foreground: 0 0% 100%;

  /* Background for NFTs and actions */
  --muted: 250.34 34.94% 16.27%;
  --muted-foreground: 0 0% 100%;

  /* Background colors for dropdown */
  --popover: 250.34 34.94% 16.27%;
  --popover-foreground: 0 0% 100%;

  --border: 50.94 96.84% 49.61%;
  --input: 50.94 96.84% 49.61%;

  /* Background for Attributes and Last activities */
  --card: 250.34 34.94% 16.27%;
  --card-foreground: 0 0% 100%;


  /* 
   * Main colors used for ui buttons, badges, links, and other elements that need to stand out.
   * "foreground" is used for text and icons in these states.
   */

  --primary: 50.94 96.84% 49.61%;
  --primary-foreground: 0 0% 0%;

  --secondary: 271.60 100.0% 63.14%;
  --secondary-foreground: 0 0% 100%;

  --accent: 0 0% 96%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --pending: 30 100% 50%;
  --pending-foreground: 0 0% 100%;

  --success: 120 40% 50%;
  --success-foreground: 0 0% 100%;

  --destructive: 0 60% 50%;
  --destructive-foreground: 210 40% 98%;

  --info: 194 78% 97%;
  --info-foreground: 195 35% 60%;

  --ring: 215 20.2% 65.1%;

  --radius: 8px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}