@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* 
   * Main colors used for backgrounds and text.
   * "foreground" is used for text and icons in these states.
   *
   * You can consult this link to understand impact of each variable.
   * ==> https://www.figma.com/file/Zu4BtlBGkkDfCULfrPmYsk/Alembic-Marketplace-CSS?type=design&t=G8sE3G9G6kDVz4UK-6
   */

   --background: 270 21% 11%;
   --foreground: 0 0% 100%;

  /* Background for NFTs and actions */
  --muted: 223 37% 19%;
  --muted-foreground: 0 0% 100%;

  /* Background colors for dropdown */
  --popover: 223 37% 19%;
  --popover-foreground: 0 0% 100%;

  --border: 188 90% 73%;
  --input: 276 9% 31%;

  /* Background for Attributes and Last activities */
  --card: 223 37% 19%;
  --card-foreground: 0 0% 100%;


  /* 
   * Main colors used for ui buttons, badges, links, and other elements that need to stand out.
   * "foreground" is used for text and icons in these states.
   */

   --primary: 187 88% 52%;
   --primary-foreground: 270 21% 11%;

   --secondary: 220 37% 12%;
   --secondary-foreground: 0 0% 100%;
 
   --accent: 191 92% 21%;
   --accent-foreground: 0 0% 100%;
 
   --pending: 30 100% 50%;
   --pending-foreground: 0 0% 100%;
 
   --success: 120 40% 50%;
   --success-foreground: 0 0% 100%;
 
   --destructive: 0 60% 50%;
   --destructive-foreground: 210 40% 98%;
 
   --info: 194 78% 97%;
   --info-foreground: 195 35% 60%;
 
   --ring: 215 20.2% 65.1%;
 
   --radius: 8px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}